

/* shared items */
.display-flex{
display: flex;
}

.btn-primary{
    padding:  10px 24px;
    border: none;
    border-radius: 40px;
    background-color: #E02C6D;
    color: white;
    font-size: 700;
}

/* navbar */
.navbar{
    justify-content: space-between;
}
.nav-title{
    font-size: 1.5rem;
    color: #3A3A3A;

}
.nav-lists{
    gap: 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}
.list-item{
    list-style: none;
}
 /* banner style */
 .banner{
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
 }

 .banner-title{
    font-size: 3.25rem ;
    color: #3A3A3A;
    margin-bottom: 5px;
    font-weight: bold;
 }
 .banner-des{
    font-size: 1rem ;
    color: #3A3A3A;
 }
/* logos section */
.logos{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
place-items: center;
margin-top: 100px;
margin-bottom: 100px;
}
 /* responsive */
 /* mobile device */
 @media  screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
        margin-left: 15px;
        margin-right: 15px;
        gap: 5px;
        text-align: center;
    }
    .nav-title{
        text-align: center;
    }
    .logos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 30px;
    }
 }
 /* medium devices */
 @media screen and (min-width:576px) and (max-width:992px) {
    .banner{
        flex-direction: column-reverse;
        margin-left: 15px;
        margin-right: 15px;
        gap: 35px;
        text-align: center;
    }
    .logos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 30px;
    }
    }