

/* shared items */
.display-flex{
display: flex;
}

.btn-primary{
    padding:  10px 24px;
    border: none;
    border-radius: 40px;
    background-color: #E02C6D;
    color: white;
    font-size: 700;
}

/* navbar */
.navbar{
    justify-content: space-between;
}
.nav-title{
    font-size: 1.5rem;
    color: #3A3A3A;

}
.nav-lists{
    gap: 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}
.list-item{
    list-style: none;
}
 /* banner style */
 .banner{
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
 }

 .banner-title{
    font-size: 3.25rem ;
    color: #3A3A3A;
    margin-bottom: 5px;
    font-weight: bold;
 }
 .banner-des{
    font-size: 1rem ;
    color: #3A3A3A;
 }